SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=panganibandenver.pdm@gmail.com
SMTP_PASS=cadkkdwyyaryhvsf
JWT_SECRET=your-secret-key
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=yoyaku_db
PORT=5000
